<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viewly Crowdsale Manager</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>


<div class="ui container">

    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">

            <br>

            <h3>Contract Info</h3>

            <table class="ui very compact table">
                <thead>
                <tr>
                    <th>Contract Properties</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Contract Address</td>
                    <td>0x...</td>
                </tr>

                <tr>
                    <td>Owner Address</td>
                    <td>0x...</td>
                </tr>

                <tr>
                    <td>Multisig Address</td>
                    <td>0x...</td>
                </tr>

                <tr>
                    <td>Hard cap</td>
                    <td>100,000,000 VIEW</td>

                <tr>
                    <td>Reserved Mint Rate</td>
                    <td>2%</td>
                </tr>

                </tbody>
            </table>


            <h3>Round Info</h3>

            <table class="ui very compact table">
                <thead>
                <tr>
                    <th>Round Properties</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Round Number</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Sale Running</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>Token Cap</td>
                    <td>18,000,000 VIEW</td>
                </tr>
                <tr>
                    <td>Funding Cap</td>
                    <td>60,000 ETH</td>
                </tr>
                <tr>
                    <td>Funding Raised</td>
                    <td>0 ETH</td>
                </tr>
                </tbody>
            </table>


            <h3>Sale Start/End Events</h3>

            <h3>Buy, Claim, Register Events</h3>

        </div>
    </div>

</div>


<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

</body>
</html>